PORT=3001
RPC_URL=https://your-rpc-endpoint
NOFAKE_CONTRACT_ADDRESS=0xYourContractAddress
NETWORK_NAME=Ethereum Sepolia
ETHERSCAN_BASE_URL=https://sepolia.etherscan.io/address

JWKS_URI=
TOKEN_AUDIENCE=
BUCKET_NAME=
IS_REVEALED=false
